@media (min-width: 576px) {
  .formulario_de_acesso {
    background-color: rgb(33, 88, 160);
    text-align: center;
    color: white;
    padding: 20px 0px;
    border-radius: 5px;
    line-height: 30px;
    box-shadow: 5px 5px black;
    margin: 5%;
  }
  .menu {
    text-align: center;
    margin: 30px 50px;
  }
  .logo {
    background-color: rgb(33, 88, 160);
  }

  @keyframes alter-form {
    from {
      background-color: rgb(46, 45, 45);
      border-radius: 100px 100px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    to {
      background-color: rgb(33, 88, 160);
    }
  }

  div #folha {
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 50px 60px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  div #cadastro {
    padding: 50px 85px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 2s;
    display: inline-block;
    color: white;
    font-weight: bold;
  }
  div #ponto {
    padding: 50px 58px;
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
  }
  div #recisao {
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 50px 50px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  div h1{
    margin-top: 100px;
  }

}
