@media (min-width: 576px) {

  .menu {
    text-align: center;
    margin: 60px 10px;
    box-shadow:0px 30px 1000px rgba(33, 88, 160);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:0;
    padding-right:0;
  }
  
  /*Logo*/

  .logo {
    background-color: rgb(33, 88, 160);
    position:relative
  }

  /*Caixas*/

  @keyframes alter-form {
    from {
      background-color: rgb(46, 45, 45);
      border-radius: 100px 100px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    to {
      background-color: rgb(33, 88, 160);
    }
  }

  #folha {
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 50px 60px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  #cadastro {
    padding: 50px 85px;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 30px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 2s;
    display: inline-block;
    color: white;
    font-weight: bold;
  }
  #ponto {
    padding: 50px 58px;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
  }
  #recisao {
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 30px;
    padding: 50px 50px;
    border-radius: 3px;
    background-color: rgb(33, 88, 160);
    animation-name: alter-form;
    animation-duration: 1.5s;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  /*Texto principal*/
  div h1{
    margin-top:20px ;
    padding-bottom:20px;
  }
  /*Botoes*/
  #config{
    padding:10px 10px;
    border:rgb(33, 88, 160);
    background-color: rgb(33, 88, 160) ;
    position: fixed;
    left:1220px;
  }
  #logof{
    padding:10px 10px;
    border:rgb(33, 88, 160);
    background-color: rgb(33, 88, 160) ;
    position: fixed;
    left:1180px;
  }

}
