<!DOCTYPE html 5>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <title>Consala</title>
    </head>
    <body>
        <div class="logo">
        <img src=".\assets\consala logo.png" alt="Consala" width="200px" >
        </div>
        <div class="menu">
            <h1>O que você deseja fazer hoje ?</h1>
            <menu id="opcoes">
              <a href=""><option id="folha">Calculo de Folha</option></a>
              <a href=""><option id="recisao">Calculo de Recisao</option></a>
              <a href=""><option id="ponto">Folha de Ponto</option></a>
              <a href=""><option id="cadastro">Cadastro</option></a>
            </menu>
          </div>
    </body>
</html>
