.responsividade {
  width: 30%;
  text-align: center;
  margin-left: 35%;
}

@media (min-width: 300px) {
  .formulario_de_acesso {
    background-color: rgb(33, 88, 160);
    text-align: center;
    color:white;
    padding: 20px 0px;
    border-radius: 5px;
    line-height: 30px;
    box-shadow: 5px 5px black;
    margin: 5%;
  }
 
}
.button [type="submit"] {
  background-color: rgb(15, 183, 235);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(15, 183, 235);
}


